//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================


$primary: #7367f0;
$secondary: #7367f0;
$yellow: #FBC531;

$font-family-sans-serif: 'IRANSans' !default;
$font-family-monospace: 'IRANSans'!default;